services:
  fastapi-app:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:80"
    environment:
      - DATABASE_URL=postgresql://fastapi:fastapi@db/fastapi
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    restart: always
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: